*{
    padding: 0;
    margin: 0;

    /* background-color: darkblue; */
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: 100%;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    /* background-color: darkblue; */
    align-items: flex-end;
    align-self: center;
}